.keyboard-3d-container {
  --travel: 20;
  --font-size-min: 16;
  --font-size-max: 20;
  --font-ratio-min: 1.2;
  --font-ratio-max: 1.33;
  --font-width-min: 375;
  --font-width-max: 1500;
}

.keypad {
  position: relative;
  aspect-ratio: 400 / 310;
  display: flex;
  place-items: center;
  width: clamp(280px, 45vw, 500px);
  -webkit-tap-highlight-color: transparent;
  transition-property: translate, transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transform-style: preserve-3d;
  scale: 1;
  perspective: 1000px;
  transform-origin: center center;
}

.key {
  transform-style: preserve-3d;
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.key[data-pressed='true'] .key__content,
.key:active .key__content {
  translate: 0 calc(var(--travel) * 1%);
}

.key#one {
  left: 13.5%;
  bottom: 57.2%;
  background: transparent !important;
}

.key#two {
  left: 25.8%;
  bottom: 48.5%;
}

.key#three {
  left: 38%;
  bottom: 39.2%;
}

.key#four {
  left: 50.4%;
  bottom: 30.2%;
}

.key#five {
  left: 62.7%;
  bottom: 21%;
}

.key#five .key__text {
  font-size: 34cqi;
  filter: grayscale(1);
}

.key__content {
  width: 100%;
  display: inline-block;
  height: 100%;
  transition: translate 0.12s ease-out;
  container-type: inline-size;
}

.key__text {
  width: 52%;
  height: 62%;
  position: absolute;
  font-size: 18cqi;
  z-index: 21;
  top: 5%;
  left: 0;
  mix-blend-mode: normal;
  color: hsl(0 0% 4%);
  translate: 45% -16%;
  transform: rotateX(36deg) rotateY(45deg) rotateX(-90deg) rotate(0deg);
  display: grid;
  place-items: center;
}

.key#five .key__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: unset !important;
  filter: none !important;
}

.key#five .key__text img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  display: block;
  margin: auto;
}

.keypad__single {
  position: absolute;
  width: 21%;
  left: 54%;
  bottom: 36%;
  height: 24%;
  clip-path: polygon(
    0 0,
    54% 0,
    89% 24%,
    100% 70%,
    54% 100%,
    46% 100%,
    0 69%,
    12% 23%,
    47% 0%
  );
  mask: url(https://assets.codepen.io/605876/keypad-single.png?format=auto&quality=86)
    50% 50% / 100% 100%;
}

.keypad__single img {
  --brightness: 2;
  --saturate: 0;
  top: 0;
  opacity: 1;
  width: 96%;
  position: absolute;
  left: 50%;
  translate: -50% 1%;
}

.key__mask {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.key img {
  filter: hue-rotate(calc(var(--hue, 0) * 1deg))
    saturate(var(--saturate, 1)) brightness(var(--brightness, 1));
}

.keypad__base {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.keypad__base img {
  width: 100%;
}

.key#one img {
  filter: brightness(1) saturate(1) hue-rotate(0deg) !important;
}

[data-platform='claude'] .key#one .key__text {
  color: #d97757;
}